.smpSortableTable--processed,
.smpSortableTable--processed thead,
.smpSortableTable--processed tbody,
.smpSortableTable--processed tr,
.smpSortableTable--processed th,
.smpSortableTable--processed td {
    border-collapse: collapse;
    border: 1px solid black;
    padding: 5px;
}

.smpSortableTable--processed tr:nth-child(even) {
    background-color: #eeeeee;
}

.smpSortableTable--nav {
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-top: 10px;
}

.smpSortableTable--sortable,
.smpSortableTable--nav-links {
    cursor: pointer;
    color: #3b8ede;
}

.smpSortableTable--nav-links {
    color: white;
    background-color: #3b8ede;
    padding: 5px 10px;
}

.smpSortableTable--nav-links:not(.smpSortableTable--disabled):hover {
    color: white;
    background-color: #41a9ff;
    text-decoration: none;
}

.smpSortableTable--sortable.desc::after {
    content: '\25B2';
}

.smpSortableTable--sortable.asc::after {
    content: '\25BC';
}

.smpSortableTable--nav-links.smpSortableTable--disabled {
    background-color: #eeeeee;
    cursor: not-allowed;
    color: lightgrey;
}

.smpSortableTable--prev,
.smpSortableTable--first {
    float: left;
    margin-right: 15px;
}

.smpSortableTable--next,
.smpSortableTable--last{
    float: right;
    margin-left: 15px;
}

@media (max-width: 768px) {
    .smpSortableTable--processed.responsive,
    .smpSortableTable--processed.responsive thead,
    .smpSortableTable--processed.responsive tbody,
    .smpSortableTable--processed.responsive tr,
    .smpSortableTable--processed.responsive td {
        display:block;
        width:95vw;
        max-width: 100%;
        border:none;
        padding:2px;
    }

    .smpSortableTable--processed.responsive th {
        display: inline-block;
        width: auto;
        color: white;
        background-color: #3b8ede;
        padding: 5px 10px;
        margin: 5px 10px 5px 0;
        border:none;
    }

    .smpSortableTable--processed.responsive th.smp-not-sortable {
        display:none;
    }

    .smpSortableTable--processed.responsive thead:before {
        content: attr(data-smp-content) ;
        font-weight: bold;
    }

    .smpSortableTable--processed.responsive tbody td:before {
        content: attr(data-smp-content) ': ' ;
        font-weight: bold;
    }
}

@media (max-width: 450px) {
    .smpSortableTable--processed.responsive + .smpSortableTable--nav > * {
        display:block;
        float:none;
        margin:15px 0 0 0;
    }
}